@model System.Collections.Generic.List<Microsoft.AspNetCore.Mvc.Rendering.SelectListItem>

<label>Model:</label>
<select asp-items="@Model" name="ModelId" class="form-control classForSelectedItem" onchange="ucitajPonudu()">
</select>